.Hero {
    height: 100%;
    width: 55%;
}

.hero-li {
    width: fit-content;
    height: 2.6rem;
}

.frequent-items {
    height: 3.8rem;
    background-color: rgb(33, 27, 27);
}

.frequent-img {
    width: 3.8rem;
    height: 3.8rem;
}


.Hero-scroll-wrapper {
    max-height: calc(100% + 1.5rem);
}